.card{
    background-color: rgba(135, 207, 235, 0.315);
    border-top-left-radius: 15px ;
    border-top-right-radius: 15px ;
}
.cardImage{
    border-top-left-radius: 15px ;
    border-top-right-radius: 15px ;
    height: 150px;
}

.cardBanner{
    height: 50px;
}

.reactionCount{
    /* background-color: skyblue; */
    justify-content: space-evenly;
}

.likeButton{
    font-size: 25px;
    margin-right: 10px;

}
.likeButton:hover{
    /* color: red; */
    transform: scale(1.2);
    transition: transform ease-in-out .5s;
}